.audio {
  width: 50vw;
  height: 50vh;
}

.controller {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn {
  width: 5%;
  height: auto;
  margin-left: 2%;
}

.muted {
  width: 100px;
  height: 50px;
}

.progressBar {
  height: 10px;
  width: 100vw;
  background-color: black;
  cursor: pointer;
}

.orangeBar {
  height: 10px;
  width: 100vw;
  background-color: orangered;
  cursor: pointer;
}
