* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.video {
  width: 100%;
  height: 90vh;
}

.controller {
  position: absolute;
  bottom: 100px;
  left: 250px;
  transform: translateX(-50%);
}
